$gameMapViewportWidth: 500px;
$gameMapViewportHeight: 500px;
$gameMapContentWidth: 1000px;
$gameMapContentHeight: 1000px;

.game-map {
  border: 1px solid black;
  padding: 15px;
  width: $gameMapViewportWidth;
  height: $gameMapViewportHeight;
}

.game-map-content-wrapper {
  margin: 10px;
}

.game-map-content {
  width: $gameMapContentWidth;
  height: $gameMapContentHeight;
}
