$gameMapViewportWidth: 500px;
$gameMapViewportHeight: 500px;
$gameMapContentWidth: 2000px;
$gameMapContentHeight: 2000px;

.game-map {
  border: 1px solid black;
  padding: 15px;
  width: $gameMapViewportWidth;
  height: $gameMapViewportHeight;
}

.game-map-content {
  display: block;
  width: $gameMapContentWidth;
  height: $gameMapContentHeight;
}
