@import "base";

$treeConnectionsIndex: 0;
$treeButtonsIndex: 1;

$hunterTreeWidth: 500px;
$hunterTreeHeight: 700px;

$hunterSectionWidth: $hunterTreeWidth;

.hunter-upgrade-panel {
  display: flex;
  flex-direction: row;

  .hunter-upgrade-tree-wrapper {
    width: $hunterSectionWidth;
  }

  .hunter-upgrade-info-panel {
    flex: 1 1 auto;
    max-width: $hunterSectionWidth;
  }
}

.hunter-upgrade-category-selector {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .hunter-category-selector-arrow {
    flex: 1 0 auto;
  }
}

.hunter-category-selector-arrow {
  display: flex;
  flex-direction: row;

  &.prev-hunter-upgrade-category svg {
    margin-right: auto;
  }

  &.next-hunter-upgrade-category svg {
    margin-left: auto;
  }

  svg {
    height: 20px;
    width: 50px;
  }
}

.current-hunter-upgrade-category {
  font-size: 1.5em;
}

.hunter-upgrade-tree-view {
  width: $hunterTreeWidth;
  height: $hunterTreeHeight;
  border: 1px solid black;
}

.hunter-upgrade-tree-content {
  position: absolute;
  width: $hunterTreeWidth;
  height: $hunterTreeHeight;
}

.hunter-upgrade-tree-connections {
  width: 100%;
  height: 100%;

  z-index: $treeConnectionsIndex;
}

.hunter-upgrade-tree-buttons {
  position: absolute;
  top: 0;
  left: 0;

  z-index: $treeButtonsIndex;
}

.hunter-upgrade-tree-button {
  position: absolute;
}

.hunter-upgrade-info-panel {
  margin-left: 30px;
  padding: 0px 10px;

  border: 1px solid black;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.hunter-upgrade-title-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .hunter-upgrade-title {
    font-size: 1.5em;
    padding: 5px 0px;
  }

  border-bottom: 1px solid black;
}

.hunter-upgrade-content-wrapper {
  margin: 10px 0px;

  display: flex;
  flex-direction: row;
}

.hunter-upgrade-content {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 50%;
  padding: 20px;
  box-sizing: border-box;
  border-right: 1px solid black;
}

.hunter-upgrade-details {
  padding: 0px 10px 10px 10px;
}

.hunter-upgrade-cost {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 50%;
  padding: 10px;
  box-sizing: border-box;

  .hunter-upgrade-cost-title {
    font-size: 1.25em;
  }

  .resource-list {
    width: 100%;

    border-top: 1px solid black;
    box-sizing: border-box;
    padding: 20px;
  }
}
