@import "base";

$treeConnectionsIndex: 0;
$treeButtonsIndex: 1;

.hunter-upgrade-panel {
  display: flex;
  flex-direction: row;
}

.hunter-upgrade-tree-wrapper {
  flex: 0 0 auto;
}

.hunter-upgrade-info-panel {
  flex: 1 0 auto;
}

.hunter-upgrade-tree-view {
  width: 500px;
  height: 700px;
  border: 1px solid black;
}

.hunter-upgrade-tree-connections {
  position: absolute;
  z-index: $treeConnectionsIndex;
}

.hunter-upgrade-tree-buttons {
  position: absolute;
  z-index: $treeButtonsIndex;
}

.hunter-upgrade-tree-button {
  position: absolute;
}
