@import "base";
@import "gameTab";
@import "baseCampTab";
@import "hunterTab";

$tab-bar-height: 50px;

.main-content-pane {
  margin: 10px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.main-content-pane-tabs {
  flex: 0 0 auto;
  padding: 0;
  margin: 0;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.main-content-pane-tab {
  display: block;
  flex: 1 0 auto;

  max-width: 100px;
  height: $tab-bar-height;

  border: $main-border;
  border-bottom: none;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.main-content-pane-tab-active {
  position: relative;
  top: 1px;
  background: white;
}

.main-content-pane-tab-inactive {
  background-color: lightgray;
}

// Wrapper to prevent scrollbars from overflowing content
.main-content-pane-scroll-wrapper {
  flex: 1 1 auto;
  padding: 10px;
  border: $main-border;
  border-radius: 0px 30px 30px 30px;
  overflow: hidden;
  display: flex;
}

.main-content-pane-content-wrapper {
  flex: 1 1 auto;

  padding: 20px;
  overflow: scroll;
  position: relative;
}

.main-content-pane-content {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.main-content-pane-content-inactive {
  display: none;
}
