.resource-pane {
  border-right: $main-border;
  width: 225px;
  padding: 15px;
  overflow-y: scroll;
}

.resource-pane-title {
  text-align: center;
  font-weight: bold;
  font-size: 1.2em;
  padding-bottom: 15px;
}

.resource-pane-categories {
  padding-left: 10px;
}

.resource-category-section {
  padding: 5px 0px;

  + .resource-category-section {
    border-top: 1px solid darkgray;
  }
}
.resource-category-section-title {
  font-weight: bold;
}
.resource-category-section-list {
  padding: 5px;
}
