.resource-list {
  list-style-type: none;
  padding: 0px;
  margin: 5px;
}
.resource-line {
  display: flex;
}
.resource-line-entry-name {
  flex: 1 1 auto;
  justify-self: flex-start;
}
.resource-line-count {
  justify-self: flex-end;
}
