@import "base";
@import "infopane";
@import "mainContentPane";

html,
body {
  height: 100%;
  margin: 0;
}

#main-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#game {
  flex: 1 0 auto;

  display: flex;
  flex-direction: column;
}

#footer {
  display: flex;
  justify-content: center;
  margin: 5px;

  .footer-item {
    + .footer-item {
      border-left: $main-border;
    }
    padding: 0px 6px;
  }
}

.game_menu {
  height: auto;
  width: 100%;
  padding: 3px;
  box-sizing: border-box;
}

.game_content_pane {
  box-sizing: border-box;
  border-top: $main-border;
  border-bottom: $main-border;
  width: 100%;
  flex: 1 1 auto;

  display: flex;
  flex-direction: row;
}

.resource_pane {
  border-right: $main-border;
  width: 200px;
}
.resource_lines {
  padding: 15px;
}
.resource_line {
  display: flex;
  justify-content: space-around;
}

.main-content-pane {
  flex: 1 1 auto;
}
